<header class="header-area overlay">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">GreenBasket</a>
      <div id="main-nav" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li><a href="/" class="nav-item nav-link active">Home</a></li>

          <% if (!loggedIn || !loggedIn.id) { %>
          <li><a href="/login" class="nav-item nav-link">Login</a></li>
          <% } else { %>
          <li><a href="/products" class="nav-item nav-link">Products</a></li>

          <li><a href="/grocery/cart" class="nav-item nav-link">Cart</a></li>

          <li><a href="/user/logout" class="nav-item nav-link">Logout</a></li>
          <% } %>
          <li><a href="/about" class="nav-item nav-link">About Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
